$mainColor: #EBA452;
$mainOutlineColor: #eeddc9;
$buttonDarkColor: #615B6B;
$dangerColor: #E64646;

$bgSecondary: #F7F7F7;

$textColor: #282556;
$subTextColor: #615E90;
$descTextColor: #7A7A7A;
$secondaryTextColor: #989898;