@use 'variables.scss' as *;

.text-main {
    color: $mainColor;
}

.text-color {
    color: $textColor;
}

.sub-text-color {
    color: $subTextColor;
}

.desc-text-color {
    color: $descTextColor;
}

.danger-text-color {
    color: $dangerColor;
}

.k-btn {
    border-radius: 10px;
    padding: 8px 16px;
    transition: all .3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btn-main {
    background-color: $mainColor;
    color: white;
    &:hover {
        background-color: darken($mainColor, 10%);
    }
    
}

.btn-secondary {
    background-color: $bgSecondary;
    color: $secondaryTextColor;
    &:hover {
        background-color: darken($bgSecondary, 10%);
    }
}

.btn-dark {
    background-color: $buttonDarkColor;
    color: white;
    &:hover {
        background-color: darken($buttonDarkColor, 10%);
    }
}

.fw-100 {
    font-weight: 100;
}

.fw-200 {
    font-weight: 200;
}

.fw-300 {
    font-weight: 300;
}

.fw-400 {
    font-weight: 400;
}

.fw-500 {
    font-weight: 500;
}

.fw-600 {
    font-weight: 600;
}

.fw-700 {
    font-weight: 700;
}

.fw-800 {
    font-weight: 800;
}

.fw-900 {
    font-weight: 900;
}

.text-overflow-ellipsis.max-lines-1 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
}

.text-overflow-ellipsis.max-lines-3 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
    overflow: hidden;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-justify {
    text-align: justify;
}
