@use 'variables' as *;

.book-card {
    border: solid 1px #ccc;
    border-radius: 10px;
    cursor: pointer;
    transition: all .3s;
    &:hover {
        transform: translateY(-4px);
    }
    .book-card-info {
        padding: 16px;

        .book-card-title {
            height: 50px;
        }

        .book-card-desc {
            min-height: 60px;
        }
    }

    .book-card-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            display: flex;
            align-items: center;
            justify-content: center;
            text-align: center;
            gap: 4px;
            padding: 8px;
            width: 50%;

            &.btn-add-to-cart {
                background-color: $mainColor;
                color: #fff;
                border-bottom-left-radius: 10px;
            }

            &.btn-buy-now {
                background-color: $buttonDarkColor;
                color: #fff;
                border-bottom-right-radius: 10px;
            }
        }
    }

    .book-card-thumbnail {
        width: 100%;
        padding-top: 80%;
        background-size: cover;
        background-position: center;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
    }
}


#bookDetailSection {
    .book-detail-thumbnail {
        border: solid 1px #ccc;
        border-radius: 10px;
        img {
            border-radius: 10px;
        }
    }

    .book-detail-quantity {
        border: solid 1px #ccc;
        border-radius: 10px;
        height: 50px;
        width: 150px;

        input {
            border: none;
            outline: none;
            text-align: center;
            width: 100% * 1 / 3;
            &:focus {
                border: none;
                outline: none;
            }
        }

        button {
            border: none;
            background-color: transparent;
            cursor: pointer;
            width: 100% * 1 / 3;
            height: 100%;
            border-right: solid 1px #ccc;
            border-top-left-radius: 10px;
            border-bottom-left-radius: 10px;
            transition: all .3s;
            
            &:last-child {
                border-right: none;
                border-left: solid 1px #ccc;
                border-radius: 0;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
            }

            &:hover {
                background-color: #ccc;
            }
        }
    }

    .book-detail-add-to-cart-btn {
        height: 50px !important;
        background-color: $subTextColor !important;
        transition: all .3s;
        &:hover {
            background-color: darken($color: $subTextColor, $amount: 10) !important;
        }
    }

    .book-detail-add-to-wishlist-btn {
        height: 50px !important;
        width: 50px !important;
        border: solid 1px #ccc;
        border-radius: 10px;
        transition: all .3s;
        &:hover {
            background-color: $dangerColor;
            color: white;
        }
    }

    .book-detail-nav {
        .nav-link {
            color: $textColor !important;
        }
        .nav-link.active {
            color: $mainColor !important;
        }
    }

    table {
        tr, th, td {
            height: 64px;
            line-height: 64px;
        }
    }
}